name: 编译OpenWrt并上传固件
on: push

jobs:
  openwrt-build:
    name: OpenWrt 编译
    runs-on: ubuntu-22.04

    steps:
    - name: 读取 config 配置文件
      uses: actions/checkout@v4

 #   - name: 安装编译环境
  #    run: sudo bash -c 'bash <(curl -s https://build-scripts.immortalwrt.org/init_build_environment.sh)'

    - name: 测试
      run: |
        pwd
        ls -aFhl
